.card1{
    width: 80px;
    height: 50px;
    border-radius: 10px !important;
}
.card1Icon{
    position: relative;
    left: 3%;
    top:50%;
    transform: translate(0,-50%);
    display: inline-block;
}
.card1Text{
    position: relative;
   top: -45%;
   right: -40%;
   font-weight: bold;
}
.row1{
    
    margin: 10%  0 0 10% !important;
}

.row2{
    margin: 3%  0 10% 10% !important;
}